* {
    font-family: roboto, system-ui;
    padding: 0;
    margin: 0;
}

#mainPage {
    display: grid;
    grid-template: 150px 500px / 1fr 2fr;
    grid-template-areas: "title text"
                         ". image";
    padding: 10px;
    margin-top: 20px;
}

.title {
    font-weight: bold;
    grid-area: title;
}

.restaurantFoto {
    height: 500px;
    grid-area: image;
    justify-self: center;
}

.restaurantDescription {
    font-size: 15px + 0.1em;
    font-style: italic;
    grid-area: text;
    padding: 15px 15px 0 15px;
}